# Required for reinvite app
GITHUB_APP_ID=
GITHUB_INSTALLATION_ID=
GITHUB_ORG=
GITHUB_PRIVATE_KEY_PATH=./private-key.pem

# Required only for instructor assignment sync
GITHUB_CLASSROOM_ID=
GITHUB_CLASSROOM_TOKEN=